/* My Styles */

header {
	position: relative;
	
}

header h1 {
	position: absolute;
	left: 48px;
	bottom: 0;
	font-size: 2em;
	color: white;

}

:root {
	background-image: url(../img/green_cup.png);
	background-repeat: repeat;
	
}

.panel.callout {
	background-color: #0c610c;
	border-radius: 20px;
}

.tabs-content {
	border-top: none;
	border: 1px solid #000;
	padding: 10px;
}

dd {
	border: 1px solid #000;
	border-bottom: none;

}


/*.reveal-modal-bg {
	background-color: cornflowerblue;
}*/